@import url(rootstyle.css);

/*--------------CSS Home --------------*/
.grid-home{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    min-height: 100vh;
    gap: var(--padding-std);
}

.homepage {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding-top: var(--padding-std);
    justify-content: center;
}

.homepage h2{
    padding: 0rem 0rem 1rem 5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.homepage p{
    padding: 1rem 0rem 1rem 5rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.img-homepage img{
    display: flex;
    flex-flow: column nowrap;
    padding: 10rem 4rem 0 0;
    justify-content:center;
    max-width: 100%;
    height: auto;
}

/*--------------CSS SECURITY --------------*/

.first-section{
    display: flex;
    flex-flow: column nowrap;
    padding: 10rem 10rem;
    max-width: 120rem;
    justify-content: center;
    text-align: center;
}


.first-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.first-section p{
    padding-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
}

/*--------------CSS TIPS --------------*/

.content-col .tittle-grid{
    padding: 7rem 0rem 3rem 0rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--color-logo);
}

.content-col p{
    padding-top: 0.5rem;
    font-size: 1.8rem;
}

.content-tips{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 5rem;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--padding-std);
    counter-reset: counter-grid;
}

.grid-content > article > h3{
    font-size: 2rem;
    padding-bottom: 0.7rem;
    padding-left: 4rem;
    position: relative;
}

.grid-content > article > h3::before{
    counter-increment: counter-grid;
    content: counter(counter-grid);
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    top: -1rem;
    left: 0.3rem;
    transform: rotate(5deg);
}

.grid-content > article > p{
    font-size: 1.2rem;
}

/*--------------CSS PRODUCTS --------------*/

.content-produtos{
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem;
}

.post-tittle{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
}

.produtos-conteiner{
    display: flex;
    flex-flow: row wrap;
    max-width: 100rem;
    max-height: 100rem;
    background-color: var(--white-color);
    justify-content: center;
    padding-top: 1rem;
}

.produtos-conteiner .produtos{
    display: flex;
    flex-flow: column wrap;
    width: 20rem;
    height: 26rem;
    margin: 0.2rem 2rem;
    border: 0.1rem solid var(--gray-bg-ligt);
    border-radius: 5px;    
}

.produtos-conteiner .produtos:hover{
    box-shadow: 0rem -0.2rem 2rem 0.3rem var(--gray-bg-ligt);
    border: 0.1rem solid var(--menu-effect);
}

.produtos .nome{
    text-align: center;
    padding: 1.5rem 1rem;
    color: var(--white-color);
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.preco-produto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem 1rem;
}

.preco-produto .box-preco{
    max-width: 5rem;
    max-height: 5rem;
    margin: 0;
    font-size: 2.5rem;
}

.box-preco .preco-periodo{
    color: var(--periodo-letter);
    font-size: 1.4rem;
}

.preco-produto div:nth-child(4) span{
    font-size: 3.5rem;
}

.preco-produto .txt-oferta{
    background-color: var(--menu-effect);
    border-radius: 1rem;
    padding: 0.2rem 0.8rem;   
}

.preco-produto .parcelas-txt{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 1rem 0rem 0.5rem 0rem;    
}

.btn{   
    margin: auto;
    padding-bottom: 1.5rem;    
}

.btn .botton-box{
    padding: 0.3rem 2rem 0.6rem 2rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    box-shadow: 0rem 0.5rem 1rem -0.08rem var(--gray-bg-ligt);
}

.btn .botton-box:hover{
    padding: 0.3rem 2.1rem 0.6rem 2.1rem;
    border-radius: 5rem;
    background-color: var(--color-btn);
    transform: translate(2%, 2%) scale(1rem) ease-in-out;
}

.btn .botton-box a{
    color: var(--white-color);
    font-size: 1.2rem;
    align-self: center;
    
}

/*--------------CSS SUPPORT --------------*/

.contato{
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    gap: 2rem;
    padding: 4.5rem 4rem 0rem 2rem;
}

.contato .support{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: 100%;
    margin: auto;
}

.sppt-div{
    display: flex;
    flex-flow: column nowrap;
    max-width: 85%;
    height: auto;
    align-self: end;
    justify-items: start;
    padding-bottom: 1.5rem;
}

.support .sppt-div  .title-section{
    padding-bottom: 2rem;
}

.support .sppt-div  .title-section h3{
    font-size: 2rem;
    color: var(--color-logo);
}

.img-sppt {
    padding: 7rem 1rem;
    border-radius: 0 6rem 6rem 0;
    background-color: var(--color-btn);
}

.support .sppt-div .img-sppt img{    
    display: flex;
    flex-flow: column nowrap;
    max-width: 85%;
}

.contato .form-inputs{
    align-self: center;
    justify-self: end;
}

.form-inputs{
    display: flex;
    flex-flow: column nowrap;
    padding: 1.2rem 2rem ;
    border-radius: 0.3rem;
    border: none;
    max-width: 88%;
    min-height: 40vh;
    background-color: var(--color-bg-form);
}


.tittle-fieldset{
    font-size: 1rem;
    color: var(--primary-color);
}

.form-group{
    display: flex;
    flex-flow: row wrap;
}

.usr-nome, .usr-sobrenome{
    width: 21.7rem;  
    padding-top: 0rem;  
}

.usuario-nome .usr-nome{
   padding-right: 0.8rem;  
}

.usuario-nome{
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-std);
    width: 100%;
}

.contato .form-inputs{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.form-inputs .form-group input{
    padding: 0.6rem;
    border-radius: 5rem;
    border: 0.1rem solid var(--gray-bg-ligt);
    box-shadow: inset 0 0.2rem 0.2rem rgb(7 29 43 / 12%);
    outline: none;
}

.form-group input:hover{
    border: 0.1rem solid var(--primary-color);
    border-color: var(--primary-color);
}

.area-descricao{
    border: 0.1rem solid var(--gray-bg-ligt);
    border-radius: 0.3rem;
    outline: none;
    padding:0.5rem;
    overflow-y: scroll;
}

.area-descricao::placeholder{
    text-align: center;
    padding-top: 1rem;
}

.area-descricao:hover{
    border: 0.1rem solid var(--primary-color);
    border-color: var(--primary-color);
}

.btn-enviar{
    display: block;
    width: 100%;
    text-align: right;
}

.btn-submit{
    color: var(--white-color);
    border-radius: 5rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 0.8rem 1rem;
}

.btn-submit:hover{
    background-color: var(--color-btn);
}

/*--------------CSS ABOUT --------------*/

.sobre-info{
    display: flex;
}

.sobre-info .text-info{
    display: flex;
    flex: 75%;
    flex-flow: column wrap;
    padding: 0;

}

.text-info > h2{
    font-size: 2.5rem;
    font-family: var(--font-tittle);
    padding: 12rem 2rem 0 5rem;;
}

.text-info > p{
    font-size: 1.6rem;
    font: var(--main-font);
    padding: 2rem 2rem 8rem  5rem;
}

.sobre-info .img-sobre{
    flex-flow: column wrap;
}

.img-sobre > img{
    flex: 35%;
    display: block;
    max-width: 70%;
    height: 45rem;
    margin: auto;
}



/*--------------CSS FOOTER --------------*/

.box-footer{
    display: flex;
    flex-flow: row wrap;
    min-height: 85vh;
    max-width: 90vw;  
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-line-footer);      
}

.col1, .col2, .col3{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding-top: 8rem;  
}

.col-lista1 ul li a, .col-lista2 ul li a, .col-lista3 ul li a{
    color: var(--gray-bg-ligt);
    font-size: 1rem;
}

.col-lista1 h6, .col-lista2 h6, .col-lista3 h6{
    color: var(--gray-bg-ligt);
    font-size: 1.5rem;
}

.box-rodape{
    margin: 0 auto;
    max-width: 90vw;
}

.box-rodape nav ul{
    display: flex;
    list-style: none;
}

.box-rodape nav ul li a{
    display: block;
    font-size: 0.8rem;
    padding: 2rem 2rem 0 0;
    position: relative;
    color: var(--gray-bg-ligt);
}